.testing {
    background-image: url('../../public/assets/FE/img/hero2.webp');
    padding-top: 50px;
    padding-bottom: 250px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.section-bg {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxOTIwIDE1MCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PHBhdGggZD0iTTAgNDAuMjE1bDY0IDE5LjYwMmM2NCAxOS45NjkgMTkyIDU4LjYyIDMyMCAzOS4yOTRDNTEyIDc5Ljc4NiA2NDAgLjY0NSA3NjggLjkyYzEyOC0uMjc1IDI1NiA3OC44NjYgMzg0IDg4LjM0NSAxMjggOS44NDYgMjU2LTQ5LjA1IDM4NC01My45MjcgMTI4LTUuMjQ1IDI1NiA0NC40NDggMzIwIDY4LjY1bDY0IDI0LjU3MVYxNTBIMFY0MC4yMTV6IiBmaWxsPSIjRjdGN0Y3IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48L3N2Zz4=);
    background-size: 100% 150px;
}

.footer-abstrak{
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    background-repeat: no-repeat;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxOTIwIDE1MCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PHBhdGggZD0iTTAgMTA5Ljc4NWw2NC0xOS42MDJjNjQtMTkuOTY5IDE5Mi01OC42MiAzMjAtMzkuMjk0IDEyOCAxOS4zMjUgMjU2IDk4LjQ2NiAzODQgOTguMTkxIDEyOCAuMjc1IDI1Ni03OC44NjYgMzg0LTg4LjM0NSAxMjgtOS44NDYgMjU2IDQ5LjA1IDM4NCA1My45MjcgMTI4IDUuMjQ1IDI1Ni00NC40NDggMzIwLTY4LjY1bDY0LTI0LjU3MVYwSDB2MTA5Ljc4NXoiIGZpbGw9IiNGRkZGRkYiIC8+PC9zdmc+);
    width: 100%;
    height: 150px;
    background-size: 100% 150px;
}

.footer-bg{
    padding-top: 60px;
    padding-bottom: 50px;
    background-image: url('../../public/assets/FE/img/footer.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: translateX(0%);
}

.category {
    background-image: url('../../public/assets/FE/img/bg-bestsale.webp');
    padding-top: 70px;
    padding-bottom: 70px;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

@font-face {
    font-family: Dosis-SemiBold;
    src: url("/public/assets/FE/fonts/Dosis/static/Dosis-SemiBold.ttf");
}

@font-face {
    font-family: Dosis-Reguler;
    src: url("/public/assets/FE/fonts/Dosis/static/Dosis-Regular.ttf");
}

@font-face {
    font-family: Dosis-Bold;
    src: url("/public/assets/FE/fonts/Dosis/static/Dosis-Bold.ttf");
}